{% set domainParentDir = soa_domain | json_query('[][home][][].parentdir')|join(',') %}
{% set domainName = soa_domain | json_query('[][home][][].domainname')|join(',') %}
{% set domainHome =  domainParentDir  + '/' +  domainName  %}
{% set NodeManagerHome = domainHome + '/nodemanager' %}
{% set DomainsFile = NodeManagerHome + '/nodemanager.domains'  %}
{% set LogLimit = soa_domain | json_query('[][nodemanager][][].loglimit')|join(',') %}
{% set PropertiesVersion = soa_domain | json_query('[][nodemanager][][].propertiesversion')|join(',') %}
{% set AuthenticationEnabled = soa_domain | json_query('[][nodemanager][][].authenticationenabled')|join(',') %}
{% set JavaHome = soa_installers | json_query('[?installer == `jdk8u251`].java_home')|join(',') %}
{% set LogLevel = soa_domain | json_query('[][nodemanager][][].loglevel')|join(',') %}
{% set DomainsFileEnabled = soa_domain | json_query('[][nodemanager][][].domainsfileenabled')|join(',') %}
{% set NativeVersionEnabled = soa_domain | json_query('[][nodemanager][][].nativeversionenabled')|join(',') %}
{% set ListenPort = soa_domain | json_query('[][nodemanager][][].listenport')|join(',') %}
{% set LogToStderr = soa_domain | json_query('[][nodemanager][][].logtostderr')|join(',') %}
{% set startscriptname = soa_domain | json_query('[][nodemanager][][].startscriptname')|join(',') %}
{% set SecureListener = soa_domain | json_query('[][nodemanager][][].securelistener')|join(',') %}
{% set LogCount = soa_domain | json_query('[][nodemanager][][].logcount')|join(',') %}
{% set QuitEnabled = soa_domain | json_query('[][nodemanager][][].quitenabled')|join(',') %}
{% set LogAppend = soa_domain | json_query('[][nodemanager][][].logappend')|join(',') %}
{% set stopscriptenabled = soa_domain | json_query('[][nodemanager][][].stopscriptenabled')|join(',') %}
{% set StateCheckInterval = soa_domain | json_query('[][nodemanager][][].statecheckinterval')|join(',') %}
{% set CrashRecoveryEnabled = soa_domain | json_query('[][nodemanager][][].crashrecoveryenabled')|join(',') %}
{% set StartScriptEnabled = soa_domain | json_query('[][nodemanager][][].startscriptenabled')|join(',') %}
{% set LogFile = NodeManagerHome + '/nodemanager.log'  %}
{% set LogFormatter = soa_domain | json_query('[][nodemanager][][].logformatter')|join(',') %}
{% set ListenBacklog = soa_domain | json_query('[][nodemanager][][].listenbacklog')|join(',') %}
{% set KeyStores = soa_domain | json_query('[][certificates][][].keystore')|join(',') %}
{% set keyDirectory = soa_domain | json_query('[][certificates][][].keystoredir')|join(',') %}
{% set keyFile = soa_domain | json_query('[][certificates][][].keystorefile')|join(',') %}
{% set CustomIdentityKeyStoreFileName = keyDirectory + '/' + keyFile %}
{% set CustomIdentityAlias = soa_domain | json_query('[][certificates][][].keystorealias')|join(',') %}
{% set CustomIdentityKeyStorePassPhrase = soa_domain | json_query('[][certificates][][].keystorepass')|join(',') %}
{% set CustomIdentityKeyStoreType = soa_domain | json_query('[][certificates][][].keystoretype')|join(',') %}
{% set CustomIdentityPrivateKeyPassPhrase = soa_domain | json_query('[][certificates][][].privatekeypass')|join(',') %}
DomainsFile={{ DomainsFile }}
LogLimit={{ LogLimit }}
PropertiesVersion={{ PropertiesVersion }}
AuthenticationEnabled={{ AuthenticationEnabled }}
NodeManagerHome={{ NodeManagerHome }}
JavaHome={{ JavaHome }}
LogLevel={{ LogLevel }}
DomainsFileEnabled={{ DomainsFileEnabled }}
ListenAddress={{ ansible_fqdn }}
NativeVersionEnabled={{ NativeVersionEnabled }}
ListenPort={{ ListenPort }}
LogToStderr={{ LogToStderr }}
weblogic.StartScriptName={{ startscriptname }}
SecureListener={{ SecureListener }}
LogCount={{ LogCount }}
QuitEnabled={{ QuitEnabled }}
LogAppend={{ LogAppend }}
weblogic.StopScriptEnabled={{ stopscriptenabled }}
StateCheckInterval={{ StateCheckInterval }}
CrashRecoveryEnabled={{ CrashRecoveryEnabled }}
weblogic.StartScriptEnabled={{ StartScriptEnabled }}
LogFile={{ LogFile }}
LogFormatter={{ LogFormatter }}
ListenBacklog={{ ListenBacklog }}
KeyStores={{ KeyStores }}
CustomIdentityKeyStoreFileName={{ CustomIdentityKeyStoreFileName }}
CustomIdentityAlias={{ CustomIdentityAlias }}
CustomIdentityKeyStorePassPhrase={{ CustomIdentityKeyStorePassPhrase }}
CustomIdentityKeyStoreType={{ CustomIdentityKeyStoreType }}
CustomIdentityPrivateKeyPassPhrase={{ CustomIdentityPrivateKeyPassPhrase }}